///*

//Table of contents

//- 1. Common Styles & Initials
//- 2. General
//- 3. Loader
//- 4. Map
//- 5. Left ( Logo, Menu )
//- 6. Content
//- 7. Counters
//- 8. Works
//- 9. Clients
//- 10. Works
//- 11. Team
//- 12. Services
//- 13. Slider
//- 14. Responsive
//*/

$white: #fff;
$black: #23252a;
//$blue: #4f6dff;
//$blue: #0049FF;
$blue: #00a1ff;
$grey: #6f7a82;
$grey4: #505454;
$grey3: #8fa0a2;
$grey2: #a5b5c1;
$grey5: #B8B8B8;
$light_grey: #F0F2F7;
$light_grey2: #eaf1f7;
$red: #E52C4B;
$red2: #D02744;
$purple: #4d2aaa;
$purple2: #3f228a;
//$orange: #EA7148;
//$orange: #f5ad0c;
//$orange: #3cc9ea;
$orange: #00bcd4;
$orange2: #4ae0eb;
$green: #1ecc8b;

/*

1. Common Styles & Initials

*/

html, body {
  //overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}

*:focus {
  outline: none !important;
  box-shadow: none !important;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  line-height: 1.5;
  color: $grey4;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.list-group-item {
  padding: 10px 15px 10px 0;
  background: none;
  border: none;
}

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
}

.color_white {
  color: $white;
}

.color_black {
  color: $grey4;
}

.color_blue {
  color: $blue;
}

.color_red {
  color: $red;
}

.color_orange {
  color: $orange;
}

.color_green {
  color: $green;
}

.color_grey {
  color: $grey3;
}

.color_grey2 {
  color: $grey2;
}

.color_grey4 {
  color: $grey4;
}

.color_grey5 {
  color: $grey5;
}

.color_lightgrey {
  color: lighten($grey, 25);
}

.color_blue2 {
  background-image: linear-gradient(to right top, $blue 40%, #04345a) !important;
  color: transparent !important;
  -webkit-background-clip: text;
}

.background_white {
  background: $white;
}

.background_black {
  background: $black !important;
}

.background_dark {
  background: $black !important;
}

.background_blue {
  background: $blue !important;
}

.background_grey {
  background: $grey;
}

.background_orange {
  background: $orange !important;
}

.background_green {
  background: $green !important;
}

.background_blue2 {
  background: linear-gradient(to top right, $blue, $purple2) !important;
}

.background_red2 {
  background: linear-gradient(to right, $red, $red2) !important;
}

.background_purple {
  background: linear-gradient(to right, $purple, $purple2) !important;
}

.bg_no {
  background: none !important;
}

.bg_img {
  z-index: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.bg_video {
  z-index: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  video {
    min-width: 100vw;
    min-height: 100vh;
  }
}

.background_dots {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background: url("../img/pattern-white.svg") repeat;
  opacity: 0.15;
}

#particles {
  z-index: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body .vegas-container {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100vh !important;
}

.opacity_25 {
  opacity: 0.25;
}

.opacity_5 {
  opacity: 0.5;
}

.opacity_75 {
  opacity: 0.75;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  line-height: 1.4;
  margin: 0;
}

h1, .h1 {
  font-size: 48px;
}

.serif {
  font-family: 'Playfair Display', serif;
}

.letter-spacing_2 {
  letter-spacing: 2px;
}

.letter-spacing_1 {
  letter-spacing: 1px;
}

.letter-spacing_05 {
  letter-spacing: 0.5px;
}

.relative {
  position: relative;
}

.text_shadow {
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5)
}

.overlay_black_25 {
  z-index: 0;
  background: #000;
  opacity: 0.25;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay_black_5 {
  z-index: 0;
  background: #000;
  opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay_black_7 {
  z-index: 0;
  background: #000;
  opacity: 0.7;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay_black_75 {
  z-index: 0;
  background: #000;
  opacity: 0.75;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay_gradient {
  z-index: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

svg {
  width: 100%;
  height: 100%;
  background: rgba(255, 0, 255, 1);
}

.space_5 {
  height: 5vh;
  width: 100%;
  display: table;
}

.space_10 {
  height: 10vh;
  width: 100%;
  display: table;
}

.space_15 {
  height: 15vh;
  width: 100%;
  display: table;
}

.space_20 {
  height: 20vh;
  width: 100%;
  display: table;
}

.space_30 {
  height: 30vh;
  width: 100%;
  display: table;
}

.font_bold {
  font-weight: 700;
}

.font_semibold {
  font-weight: 600;
}

.font_light {
  font-weight: 200;
}

.no_padding {
  padding: 0;
}

.btn {
  background: $orange;
  border: none;
  border-radius: 0;
  line-height: 40px;
  height: 40px;
  padding: 0 25px;
  color: $white;
  font-size: 14px;
  margin: 25px 0 0;
  box-shadow: 0 2px 20px -7px $black;
  transition: 0.3s background, 0.3s box-shadow;
  &:hover, &:focus {
    color: $white;
    background: $orange2;
    box-shadow: 0 10px 25px -7px $black;
  }
}

.d_table {
  display: table;
  width: 100%;
  height: 100vh;
}

.d_table_v {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.d_table_b {
  display: table-cell;
  vertical-align: bottom;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  padding: 100px 0 35px;
}

.img_shadow {
  box-shadow: 0 3px 20px -7px #000;
}

.container {
  width: 85%;
  margin: 0 auto;
  padding: 0;
}

.brand {
  margin: 30px 0 0;
  height: 30px;
  img {
    height: 100%;
  }
}

.s_contact {
  margin: 25px 0 0;
  height: 35px;
  line-height: 35px;
  color: $white;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 12px;
}

.copyright {
  position: absolute;
  bottom: 25px;
  left: 7.5%;
  font-size: 10px;
}

.title {
  font-size: 60px;
  margin: 0;
  line-height: 1.2;
}

.play_video {
  position: absolute;
  right: -300px;
  top: calc(50vh - 50px);
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background: $orange;
  box-shadow: 0 0 30px -7px #000;
  transition: box-shadow 0.3s, background 0.3s;
  cursor: pointer;
  &:hover {
    box-shadow: 0 0 30px 0 #000;
    background: $orange2;
  }
  i {
    width: 100px;
    height: 100px;
    font-size: 25px;
    padding: 40px 42px;
  }
}

p {
  font-size: 12px;
}

// ----------------------------------------------------------------------------------------------------------------
// Subscribe
// ----------------------------------------------------------------------------------------------------------------

.subscribe {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 5;
  width: 400px;
  height: 125px;
  color: $white;
  background: $orange;
  transition: background .3s, box-shadow .3s;
  &:hover {
    box-shadow: 0 0 50px 0 $black;
  }
  &.white  {
    background: $white;
    color: inherit;
    input {
      color: $grey4;
      border-bottom: 1px solid $grey4 !important;
    }
    ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
      color: $grey4;
    }

    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: $grey4;
      opacity: 1;
    }

    ::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: $grey4;
      opacity: 1;
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: $grey4;
    }
  }
  .subscribe_form {
    margin: 25px;
    position: relative;
    .form-group {
      margin: 0
    }
    label {
      letter-spacing: 2px;
      font-weight: 600;
      opacity: 0.5;
    }
    input {
      background: none;
      border: none;
      border-bottom: 1px solid $white;
      border-radius: 0;
      box-shadow: none;
      height: 40px;
      line-height: 40px;
      padding: 0 25px 0 0;
      font-size: 12px;
      margin-top: 10px;
      color: $white;
      letter-spacing: 0.5px;
    }
    .submit {
      position: absolute;
      right: 0;
      bottom: 7px;
      background: none;
      border: none;
    }
  }
  ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: $white;
  }

  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: $white;
    opacity: 1;
  }

  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: $white;
    opacity: 1;
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $white;
  }
}

.subscribe_hover_bg {
  background: #000;
  transition: background 0.3s;
}
.subscribe_hover_op {
  opacity: 0.3;
  transition: opacity 0.3s;
}

// ----------------------------------------------------------------------------------------------------------------
// Countdown
// ----------------------------------------------------------------------------------------------------------------

.countdown {
  width: 100%;
  margin-top: 25px;
  ul#countdown {
    padding: 0;
    position: relative;
    li {
      position: relative;
      display: inline-block;
      margin: 0 0 0 65px;
      padding: 0;
      line-height: 60px;
      font-size: 60px;
      &:first-child {
        margin-left: 0;
      }
      &:nth-child(4) {
        min-width: 75px;
        position: relative;
        span {
          position: absolute;
          right: -60px;
          bottom: 45px;
        }
      }
      span {
        font-size: 11px;
        position: absolute;
        right: -60px;
        bottom: 45px;
        padding-top: 10px;
        transform: rotate(270deg);
        text-align: left;
        width: 100px;
        height: 30px;
        line-height: 1.2;
        letter-spacing: 0.5px;
      }
    }
  }
}

// ----------------------------------------------------------------------------------------------------------------
// Loader
// ----------------------------------------------------------------------------------------------------------------

.loader_bg {
  display: none;
  position: fixed;
  z-index: 9999999;
  top: 0;
  right: 0;
  background: $white;
  width: 100%;
  height: 100%;
}

.loader {
  display: none;
  border: 0 solid transparent;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  top: calc(50% - 75px);
  left: calc(50% - 75px);
  &:before,
  &:after {
    content: '';
    border: 1em solid $light_grey;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 2s linear infinite;
    opacity: 0;
  }
  &:before {
    animation-delay: .5s;
  }
  &:after {
    //animation-delay: .5s;
  }
}

@keyframes loader {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

// ----------------------------------------------------------------------------------------------------------------
// Info
// ----------------------------------------------------------------------------------------------------------------

.close_info {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.info {
  position: relative;
  top: 3px;
  margin-left: 15px;
  cursor: pointer;
}

#info {
  position: fixed;
  z-index: 9999;
  top: 0;
  right: -55vw;
  width: 50vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  background: $white;
  padding: 6% 3% 0 3%;
  box-shadow: 0 0 50px 0 #000;
  visibility: hidden;
  transition: 1s right, 1s visibility;
  &.on {
    right: 0;
    visibility: visible;
  }
  .title {
    font-size: 60px;
    span {
      font-size: 72px;
    }
  }
  .subtitle {
    letter-spacing: 2px;
    font-weight: bold;
    color: $orange;
  }
}

.team {
  p {
    margin: 0;
  }
  .items {
    .item {
      margin-bottom: 10vh;
      padding: 0;
      width: 47.5%;
      float: left;
      transition: 0.3s color;
      &:nth-child(even) {
        margin-left: 5%;
      }
      img {
        width: 100%;
        object-fit: cover;
        transition: 0.3s border-radius;
      }
      &:hover {
        img {
          border-radius: 50px;
        }
        color: $orange;
      }
    }
  }
}

.services {
  .service {
    position: relative;
    line-height: 0.5;
    display: inline-block;
    font-size: 50px;
    margin-bottom: 25px;
    transition: 0.3s color;
    &::before {
      content: '';
      position: absolute;
      bottom: 3px;
      left: 0;
      width: 125px;
      height: 1px;
      background: $grey2;
    }
    span {
      font-size: 16px;
      margin-left: 135px;
      letter-spacing: 2px;
    }
  }
  .item {
    padding: 40px 25px 10px;
    transition: 0.3s box-shadow;
    &:hover {
      box-shadow: 0 3px 30px -13px;
      .service {
        color: $orange;
        &::before {
          background: $orange;
        }
      }
    }
  }
}

// ----------------------------------------------------------------------------------------------------------------
// Works
// ----------------------------------------------------------------------------------------------------------------

.portfolio-filters {
  padding: 0 20px;
  ul {
    li {
      margin-right: 30px;
      padding: 0;
      a {
        display: inline-block;
        transition: all 0.3s ease;
        padding: 0;
        font-size: 13px;
        font-weight: 600;
        &.active,
        &:hover {
          color: $orange;
        }
      }
      &:last-child {
        font-weight: 500;
        margin-right: 0;
      }
    }
  }
}

.portfolio {
  display: inline-block;
  position: relative;
  padding: 10% 0 12%;
  width: 100%;
  &::before {
    content: '';
    position: absolute;
    left: -10%;
    top: 0;
    width: 60vw;
    height: 100%;
    background: $light_grey2;
    z-index: -1;
  }
  #Portfolio {
    padding: 0;
  }
  .portfolio-item,
  .portfolio-sizer {
    width: 50%;
  }
  .project-image {
    padding: 5px;
    height: 250px;
  }
  .portfolio-item {
    float: left;
    height: 250px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 0.3s;
      border-radius: 6px;
      box-shadow: 0 2px 30px -12px #000;
    }
  }
  .portfolio-item--width2 {
    width: 100%;
  }
  .portfolio-item.portfolio-item--height2 {
    height: 500px;
    .project-image {
      height: 500px;
    }
    img {
      height: 100%;
      border-radius: 6px;
    }
  }
}

// ----------------------------------------------------------------------------------------------------------------
// Contact
// ----------------------------------------------------------------------------------------------------------------

.contact {
  position: relative;
  padding: 10% 0 12%;
  &::before {
    content: '';
    position: absolute;
    left: -10%;
    top: 0;
    width: 60vw;
    height: 100%;
    background: $light_grey2;
    z-index: -1;
  }
  .contact_info {
    & > div {
      display: inline-block;
      margin-right: 15%;
      &:nth-child(3) {
        margin-right: 0;
      }
    }
  }
  #contact-form {
    text-align: left;
    .form-group {
      .form-control {
        line-height: 45px;
        height: 45px;
        width: 100%;
        background: #dae4ec;
        display: block;
        margin: 2px 0 0;
        padding: 0 10px;
        border-radius: 0;
        transition: border-color 0.3s;
        border: none !important;
        color: $black;
        font-size: 12px;
        &:focus {
          border-color: $orange;
        }
      }
      textarea {
        min-height: 150px !important;
        resize: none;
      }
    }
    .btn-send {
      margin: 25px auto 0;
      display: block;
      background: $orange;
      font-weight: 400;
      color: $white;
    }
  }
  ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: $black;
  }

  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: $black;
    opacity: 1;
  }

  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: $black;
    opacity: 1;
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $black;
  }
}

// ----------------------------------------------------------------------------------------------------------------
// Map
// ----------------------------------------------------------------------------------------------------------------

#google-container {
  position: relative;
  width: 100%;
  height: 400px;
  background-color: $light_grey;
}

#cd-google-map {
  position: relative;
  top: 0;
  left: -7%;
  z-index: 999;
  width: 50vw;
  height: 400px;
}

#cd-zoom-in, #cd-zoom-out {
  display: none;
  height: 32px;
  width: 32px;
  cursor: pointer;
  margin-left: 10px;
  background-color: $orange;
  background-repeat: no-repeat;
  background-size: 32px 64px;
  background-image: url("../img/cd-icon-controller.svg");
}

.no-touch #cd-zoom-in:hover, .no-touch #cd-zoom-out:hover {
  background-color: $orange;
}

#cd-zoom-in {
  background-position: 50% 0;
  margin-top: 10px;
  margin-bottom: 1px;
}

#cd-zoom-out {
  background-position: 50% -32px;
}

/* Scroll to effect */
.animate {
  opacity: 0;
}

.animate.start {
  opacity: 1;
}

/* Scroll to effect */
.animate {
  animation-play-state: paused;
  -webkit-animation-play-state: paused;
}

.animate.start {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  animation-play-state: running;
  -webkit-animation-play-state: running;
}

#cloud-animation {
  top: -50%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  position: fixed
}

#cloud-animation img {
  width: 100%;
  left: 0;
  top: 0;
  position: absolute
}

@-webkit-keyframes animCloud {
  from {
    -webkit-transform: translateX(-70%)
  }
  to {
    -webkit-transform: translateX(100%)
  }
}

@-moz-keyframes animCloud {
  from {
    -moz-transform: translateX(-70%)
  }
  to {
    -moz-transform: translateX(100%)
  }
}

@keyframes animCloud {
  from {
    -webkit-transform: translateX(-70%);
    -moz-transform: translateX(-70%);
    -ms-transform: translateX(-70%);
    -o-transform: translateX(-70%);
    transform: translateX(-70%)
  }
  to {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%)
  }
}

#cloud1 {
  -webkit-animation: animCloud 25s infinite linear;
  -moz-animation: animCloud 25s infinite linear;
  animation: animCloud 25s infinite linear
}

#cloud2 {
  -webkit-animation: animCloud 35s infinite linear;
  -moz-animation: animCloud 35s infinite linear;
  animation: animCloud 35s infinite linear
}

#cloud3 {
  -webkit-animation: animCloud 45s infinite linear;
  -moz-animation: animCloud 45s infinite linear;
  animation: animCloud 45s infinite linear
}

#cloud4 {
  -webkit-animation: animCloud 55s infinite linear;
  -moz-animation: animCloud 55s infinite linear;
  animation: animCloud 55s infinite linear
}

@keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
  from {background-position:0 0;}
  to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
  from {background-position:0 0;}
  to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
  from {background-position:0 0;}
  to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
  from {background-position: 0;}
  to {background-position:10000px 0;}
}


.stars, .twinkling, .clouds {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  background:#000 url(http://sylvaingarnot.fr/media/stars.png) repeat top center;
  z-index:-1;
}

.twinkling{
  background:transparent url(http://sylvaingarnot.fr/media/twinkling.png) repeat top center;
  z-index:0;

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}

.clouds{
  background:transparent url(http://sylvaingarnot.fr/media/clouds.png) repeat top center;
  z-index:3;

  -moz-animation:move-clouds-back 200s linear infinite;
  -ms-animation:move-clouds-back 200s linear infinite;
  -o-animation:move-clouds-back 200s linear infinite;
  -webkit-animation:move-clouds-back 200s linear infinite;
  animation:move-clouds-back 200s linear infinite;
}


.modal-dialog {
  margin: 5vh auto;
  width: 90vw;
  height: 90vh;

}

.modal-content {
  video {
    width: 100%;
  }
}


// ----------------------------------------------------------------------------------------------------------------
// Responsive
// ----------------------------------------------------------------------------------------------------------------

@media all and (min-width: 1920px) {
  body, p, .s_contact, #contact-form .form-group .form-control, .countdown ul#countdown li span,
  .subscribe .subscribe_form input, .contact #contact-form .form-group .form-control {
    font-size: 16px;
  }
  .services .service span {
    font-size: 20px;
  }
  .title {
    font-size: 80px;
  }
  .countdown {
    ul#countdown {
      li {
        font-size: 80px;
        &:nth-child(4) {
          min-width: 110px;
          span {
            bottom: 40px;
            right: -45px;
          }
        }
        span {
          bottom: 40px;
        }
      }
    }
  }
}
@media all and (max-width: 1280px) {
  #info {
    position: fixed;
    right: -75vw;
    width: 70vw;
  }
  .portfolio::before, .contact::before, #cd-google-map {
    width: 110vw;
  }
  .play_video {
    right: -150px;
  }
}
@media all and (max-width: 1024px) {
  #info {
    position: fixed;
    right: -105vw;
    width: 100vw;
  }
  .play_video {
    position: relative;
    right: inherit;
    top: inherit;
    margin: 5vh auto 0;
  }
}

@media (max-width: 992px) {
  #info .title, #info .title span {
    font-size: 40px;
  }
}

@media (min-width: 600px) and (max-width: 992px) {
  .info {
    position: relative;
    top: 5px;
    right: 0;
  }
}

@media all and (max-width: 767px) {
  .portfolio-filters ul li {
    width: 100%;
  }
  .portfolio .project-image, .portfolio .portfolio-item {
    height: 150px;
  }
  .portfolio .portfolio-item.portfolio-item--height2, .portfolio .portfolio-item.portfolio-item--height2 .project-image {
    height: 300px;
  }
  .title {
    font-size: 40px;
  }
  .brand {
    height: 20px;
  }
  .info {
    position: absolute;
    top: -35px;
    right: 0;
  }
  .s_contact {
    font-size: 10px;
    position: absolute;
    top: 0;
    right: 0;
    ul {
      position: relative;
      top: 35px;
    }
  }
  .countdown {
    margin-top: 25px;
    ul#countdown {
      li {
        margin-bottom: 10px;
        height: 60px;
        line-height: 1;
        font-size: 35px;
        margin-left: 25px;
        &:nth-child(4) {
          min-width: 45px;
          span {
            top: -10px;
            right: -30px;
          }
        }
        span {
          right: -30px;
          bottom: 40px;
          width: 50px;
          font-size: 10px;
        }
      }
    }
  }
  .home .d_table_v {
    padding-top: 30vh;
  }
  .subscribe {
    position: relative;
    width: 100%;
    .subscribe_form {
      display: inline-block;
      width: calc(100% - 50px);
    }
  }
  .navbar-fixed-top {
    position: absolute;
  }
  .copyright {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    line-height: 30px;
  }
  .play_video {
    position: relative;
    top: inherit;
    right: inherit;
    width: 75px;
    height: 75px;
    margin: 5vh auto 0;
  }
  .play_video i {
    width: 75px;
    height: 75px;
    padding: 27px 30px;
  }
  #home {
    padding-top: 15vh;
  }
  .portfolio .project-image, .portfolio .portfolio-item {
    height: 150px;
  }
  .portfolio .portfolio-item.portfolio-item--height2, .portfolio .portfolio-item.portfolio-item--height2 .project-image {
    height: 300px;
  }
  .bg_video video {
    height: 100vh;
    margin-left: -50%;
  }
}


.step {
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 5px;
  background: $orange;
  z-index: 99;
}